<h1>Search room</h1>

<form action="/search" method="get">
  <div class="container d-flex justify-content-center mt-4">
    <div class=" container-fluid justify-content-center form row d-flex align-items-center"> 
      <div class="col-md-6"> 
        <div class="input-group"> 
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary button-search" style="padding: 10px 20px;background-color: #007bff;border: 1px solid #78afe9;color: #ffffff;font-size: 16px;
          border-radius: 10px 0 0 10px;" type="submit"><i class="fas fa-search"></i></button>
          </div>
          
          <input type="text" class="form-control" name="name" placeholder="Search anything..." value="{{query.name}}">
        </div>
      </div>
      <div class="col-md-2"> 
        <select class="form-select" name="category">
          <option value="all">Categories</option>
          <option value="Crafts" {{#ifEq query.category 'Crafts' }}selected{{/ifEq}}>Crafts</option>
          <option value="Cooking" {{#ifEq query.category 'Cooking' }}selected{{/ifEq}}>Cooking</option>
          <option value="Gardening and Horticulture" {{#ifEq query.category 'Gardening and Horticulture'}}selected{{/ifEq}}>Gardening and Horticulture</option>
          <option value="Everyday Life skills" {{#ifEq query.category 'Everyday Life skills' }}selected{{/ifEq}}>Everyday Life skills </option>
          <option value="Music" {{#ifEq query.category 'Music' }}selected{{/ifEq}}>Music</option>
          <option value="Sports" {{#ifEq query.category 'Sports' }}selected{{/ifEq}}>Sports</option>
          <option value="Technology" {{#ifEq query.category 'Technology' }}selected{{/ifEq}}>Technology</option>
          <option value="Languages and Culture" {{#ifEq query.category 'Languages and Culture' }}selected{{/ifEq}}>Languages and Culture</option>
          <option value="Others" {{#ifEq query.category 'Others' }}selected{{/ifEq}}>Others</option>
        </select>
      </div>
    </div>
  </div>
</form>

<hr>

<div class="container-fluid  row justify-content-center">
  <div class="title text-center"><h1>For you</h1></div>
  {{#each skillsByInterests as |skill|}}
  <div class="card-search col- col-sm-6 col-md-4 col-lg-4  m-3 ">
    <div class="top-container">
      <a class="img-card" href="/profile/{{skill.owner.id}}"><img
          src="https://i.pravatar.cc/150?u={{skill.owner.email}}" class="img-fluid profile-image" width="70"></a>
      <div class="rate" style="max-width: 15rem;" data-rate="{{skill.averageRate}}">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <p class="name">{{skill.owner.username}}</p>
      </div>
    </div>
    <a class="text-decoration-none" style="color: black;" href="/detail/{{skill.id}}">
      <div class="middle-container d-flex row justify-content-between align-items-center mt-3 p-2">
        <div class="d-flex flex-row col-md-12 mr-1">
          <img src="{{categoryImage skill.category}}" alt="Img {{skill.category}}" style="width: 20px;" class="mx-1">
          <span class="current-balance">{{skill.category}}</span>
        </div>
        <div class="description">
          <p>{{skill.name}}</p>
        </div>
      </div>
    </a>
  </div>
  {{/each}}
</div>

<hr>

<div class="container-fluid row justify-content-center">
  <div class="title text-center"><h1>Skills</h1></div>
  {{#each skillsByFinder as |skill|}}
  <div class="card-search col-12  col-sm-4 col-md-4 col-lg-2 col-xl-2 m-3">
    <div class="top-container">
      <a class="img-card" href="/profile/{{skill.owner.id}}">
        <img src="https://i.pravatar.cc/150?u={{skill.owner.email}}" class="img-fluid profile-image" width="70">
      </a>
      <div class="rate" style="max-width: 15rem;" data-rate="{{skill.averageRate}}">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <p class="name">{{skill.owner.username}}</p>
      </div>
    </div>
    <a class="text-decoration-none" style="color: black;" href="/detail/{{skill.id}}">
      <div class="middle-container d-flex row justify-content-between align-items-center mt-3 p-2">
        <div class="d-flex flex-row col-md-12 mr-1">
          <img src="{{categoryImage skill.category}}" alt="Img {{skill.category}}" style="width: 20px;" class="mx-1">
          <span class="current-balance">{{skill.category}}</span>
        </div>
        <div class="description">
          <p>{{skill.name}}</p>
        </div>
      </div>
    </a>
  </div>
  {{/each}}
</div>




